%AddItem_container_base {
  width: 620px;
  background-color: #f2f2f2;
  margin: 0 auto;
}

::placeholder {
  color: #C8C8C8;

  opacity: 1;
}

.AddItem_container {
  height: 65px;
  position: relative;
  @extend %AddItem_container_base;
  & > input {
    font-family: inherit;
    width: 100%;
    font-size: 24px;
    height: 100%;
    padding-left: 32px;
    cursor: pointer;
  }
  cursor: pointer;
}

.AddItem_container2 {
  @extend %AddItem_container_base;
  height: 519px;
  position: relative;
  .top {
    padding-left: 32px;
    height: 76px;
    border-bottom: 2px solid #c8c8c8;
    display: flex;
    align-items: center;
    .checkbox {
      position: absolute;
      left: 32px;
      width: 24px;
      height: 24px;
      background-color: white;
    }
    input {
      position: absolute;
      left: 72px;
      font-family: inherit;
      width: 248px;
      height: 28px;
      background-color: transparent;
      border: none;
      font-size: 24px;
      padding-left: 14px;
      outline: none;
    }
    .star {
      position: absolute;
      right: 88px;
    }
    .pencil {
      position: absolute;
      right: 32px;
      color: #4a90e2;
    }
  }
  .middle {
    .title {
      margin-left: 72px;
      margin-top: 25.6px;
      font-size: 20px;
      display: inline-block;

      span {
        margin-left: 9px;
        font-weight: bolder;
      }
    }
    .content{
      margin-left: 95px;
      margin-top: 8px;

      input {
        width: 162px;
        height: 35px;
        margin-right: 8px;
      }
      $file_block_color: #c8c8c8;
      .file{
        width: 32px;
        height: 32px;
        background-color: $file_block_color;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor:pointer;
        &:hover{
          // 我超愛的sass顏色自動變換(darken, lighten, invert等等)
          background-color: invert($file_block_color);
        }
      }
      .textarea{
        font-family: inherit;
        width: 445px;
        height: 120px;
        border: none;
        font-size: 16px;
        padding:8px 16px;
        outline: none;
      }
      .textarea::-webkit-input-placeholder{
        font-size: 16px;
        color: #C8C8C8;
      }
    }

  } //end of middle

  .btn_line {
    position: absolute;
    bottom: 0;
  }
  %btn_base {
    width: 310px;
    height: 60px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .btnCancel {
    @extend %btn_base;
    background-color: #fff;
    color: #d0021b;
    &:hover {
      background-color: darken(#fff, 20%);
    }
  }
  .btnAdd {
    @extend %btn_base;
    background-color: #4a90e2;
    color: white;
    &:hover {
      background-color: darken(#4a90e2, 20%);
    }
  }
}
