
.Item_list{
   width: 620px;
   margin: 0 auto;
   margin-top: 24px;
}

.favorite{
   background-color: #FFF2DC !important;
}

.Item{
   height: 102px;
   background-color:#F2F2F2;
   border-radius: 5px;
   margin-bottom: 8px;
   position: relative;
   width: 100%;
   display: inline-block;
   .first_line{
      position: relative;
      margin-top:24px;
      margin-left:32px;
      display: flex;
      align-items: center;
      .finished{
         text-decoration: line-through;
         color: lightgray;
      }
      .checkbox{
         min-width: 24px;
         min-height: 24px;
         background-color: white;
         cursor: pointer;
         display: flex;
         align-items: center;
         justify-content: center;
      }
      .title{
         // position: absolute;
         // left:16px;
         // top:0;
         margin-left: 16px;
         font-size: 24px;
         width:248px;
         height:28px;
      }
      .star{
         width:24px;
         height:24px;
         position: absolute;
         right: 88px;
         cursor: pointer;
         .full_star{
            color: #F5A623;
         }
         .empty_star{
            color: black;
         }
      }
      .pencil{
         width:24px;
         height:24px;
         position: absolute;
         right: 32px;
         cursor: pointer;
      }
   }
   .second_line{
      margin-top: 15px;
      margin-left: 72px;
      .date{
         margin-right: 16px;
      }
      .file{
         margin-right: 16px;
      }
   }
}