/***********************************************************
 *                         NAVBAR                          *
 ***********************************************************/
.Navbar{
	background: #4A90E2;
	height: 76px;
	text-align: center;
	overflow: hidden;
}
.Navbar > span{
	width: 220px;
	background-color: transparent;
    font-size: 24px;
    border: none;
	 height: 100%;
	 display: inline-block;
	 text-align: center;
	 line-height: 76px;
	 cursor: pointer;
}
.Navbar .active{
	border-bottom: 5px solid #00408B;
	color: white;
	
}



.AddItem_container{
	width: 620px;
	height: 65px;
	background-color: #F2F2F2;
	margin: 0 auto;
}
.AddItem_container>input{
	width: 100%;
    font-size: 24px;
	 height: 100%;
	 padding-left: 32px;
}
.AddItem_container.show{
	height: 519px;
	position: relative;
}
.AddItem_container.show>.top{
	padding-left: 32px;
	
	height: 76px;
	border-bottom: 2px solid #c8c8c8;
	display: flex;
	align-items: center;
}
.AddItem_container.show>.middle{
	padding-left: 32px;
}
.AddItem_container.show>.top>input[type=text]{
	width: 248px;
	height: 28px;
	background-color: transparent;
	border: none;
	font-size: 24px;
	padding-left: 14px;
	outline: none;
}
.AddItem_container.show h4{
	margin:22px 0 11px 0;
}
.AddItem_container.show textarea{
	width: 445px;
	height: 120px;
}


#AddItem_datetime{
	width: 162px;
	height: 35px;
}
.file{
	width: 32px;
	height: 32px;
	background-color: #C8C8C8;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn_line{
	position: absolute;
	bottom:0;
}
.btn{
	width: 310px;
	height: 60px;
	font-size: 24px;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease;
}
.btn:hover{
	background-color: #ccc;
}
.btnCancel{
	background-color: #fff;
	color: #D0021B;
}
.btnAdd{
	background-color: #4A90E2;
	color: white;

}



.addTask_top{
	height: 76px;
	border-bottom: 2px solid #C8C8C8;
	display: flex;
	align-items: center;
}
::placeholder {
	color: black;
	opacity: 1;
}
.addTask_top> input{
	border: none;
	background-color: transparent;
	color: black;
	outline: none;
	width: 248px;
	font-size: 24px;
	line-height: 28px;
}
.addTask_top > input[type="checkbox"]{
	width:30px;
}
.addTask_top > .star{
	margin-left: 188px;
	border: none;
	background-color: transparent;
	font-size: 21px;
}